<div class="raid-container">
    <table class="raid-table" *ngIf="getGroupedRaids().length > 0; else noRaids">
        <thead>
        <tr>
            <th>Raid</th>
            <th>Réservation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of getGroupedRaids()">
            <td>
                <div class="raid-group">
                    <div *ngFor="let raid of group.raids">
                        {{ raid.name }} ({{ raid.difficulty }}) - {{ raid.date | date:'medium' }}
                    </div>
                </div>
            </td>
            <td>
                <span class="icon-button" (click)="openModal(group.raids[0])">➤</span>
            </td>
        </tr>
        </tbody>
    </table>
    <ng-template #noRaids>
        <p>Aucun raid disponible. Vérifiez la connexion à l'API ou la base de données.</p>
    </ng-template>
</div>

<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-icon" (click)="closeModal()">✕</button>
        <div class="boss-list">
            <h2>Bosses</h2>
            <div *ngIf="selectedRaid && selectedRaid.bosses; else noBosses">
                <div class="boss-item" *ngFor="let boss of selectedRaid.bosses"
                     [class.selected]="boss === selectedBoss"
                     (click)="selectBoss(boss)">
                    <img class="boss-icon" [src]="getBossIconUrl(boss)" alt="{{ boss.name }} icon">
                    <span class="boss-name">{{ boss.name }}</span>
                </div>
            </div>
            <ng-template #noBosses>
                <p>Aucun boss disponible.</p>
            </ng-template>
        </div>
        <div class="loot-list" #lootList>
            <table class="loot-table" *ngIf="selectedBoss">
                <thead>
                <tr>
                    <th>Loot</th>
                    <th>Slot</th>
                    <th>Reserved By</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let group of getGroupedLoots()">
                    <tr class="slot-header">
                        <td colspan="4">{{ group.slot }}</td>
                    </tr>
                    <tr *ngFor="let loot of group.items">
                        <td>
                            <img class="item-icon" [src]="getItemIconUrl(loot)" alt="{{ loot.itemName }} icon">
                            <a class="loot-name q4" [attr.data-wowhead]="getLootDataWowhead(loot)">
                                {{ loot.itemName }}
                            </a>
                        </td>
                        <td class="loot-slot">{{ loot.slot }}</td>
                        <td>
                            <ng-container *ngIf="loot.softReservedBy?.length > 0; else noReserve">
                                    <span class="player-tag" *ngFor="let player of loot.softReservedBy; let isLast = last">
                                        {{ player }}{{ isLast ? '' : ', ' }}
                                    </span>
                            </ng-container>
                            <ng-template #noReserve>None</ng-template>
                        </td>
                        <td>
                            <button class="reserve-button" *ngIf="!isReservedByCurrentUser(loot)" (click)="reserveLoot(selectedBoss.name, loot)">Reserve</button>
                            <button class="reserve-button" *ngIf="isReservedByCurrentUser(loot)" (click)="removeReservation(selectedBoss.name, loot)">Annuler</button>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p-toast></p-toast>