<div class="raid-container" *ngIf="getCurrentUser(); else notLoggedIn">
    <p-toast></p-toast>
    <div class="table-wrapper">
        <table *ngFor="let group of raidGroups" class="raid-table">
            <thead>
            <tr>
                <th>Groupes</th>
                <th>Raids</th>
                <th>Réservation</th>
            </tr>
            </thead>
            <tbody class="raid-table-body">
            <tr>
                <td>Réservation {{ group.groupId }}</td>
                <td>
                    <div class="raid-group">
                        <div *ngFor="let raid of group.raids">
                            {{ raid.name }} ({{ raid.difficulty }}) - {{ raid.date | date:'medium' }}
                        </div>
                    </div>
                </td>
                <td>
                    <button class="icon-button" (click)="openGroupDetails(group)" pTooltip="Voir les détails">➤</button>
                    <span *ngIf="isAdmin()" class="info-icon" pTooltip="Joueurs sans réservation : {{ nonReservedUsers[group.groupId]?.length ? nonReservedUsers[group.groupId].join(', ') : 'Aucun' }}" tooltipPosition="top">ℹ</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="isAdmin()" style="margin-top: 20px;">
            <p-button label="Créer un raid" (onClick)="openCreateRaidModal()"></p-button>
        </div>

        <p-dialog header="Créer un nouveau raid" [(visible)]="showCreateRaidModal" [modal]="true" (onHide)="closeCreateRaidModal()"  closable="true" [dismissableMask]="true">
            <div style="margin-top: 10px;">
                <label for="raidDifficulty">Difficulté : </label>
                <p-dropdown id="raidDifficulty" [(ngModel)]="newRaid.difficulty" [options]="difficulties" placeholder="Sélectionner la difficulté"></p-dropdown>
            </div>
            <div style="margin-top: 10px;">
                <label for="raidDate">Date (mardi uniquement) : </label>
                <p-calendar
                        id="raidDate"
                        [appendTo]="'body'"
                        [(ngModel)]="newRaid.date"
                        [disabledDays]="disabledDays"
                        [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Sélectionner un mardi"
                        [style]="{ 'font-size': '0.85rem', 'width': '260px' }"
                />
            </div>
            <div style="margin-top: 20px;">
                <p-button label="Créer" (onClick)="createRaid()"></p-button>
            </div>
        </p-dialog>
    </div>

    <div *ngIf="raidGroups.length === 0">
        Aucun raid disponible.
    </div>

    <div class="modal-overlay" *ngIf="selectedGroup">
        <div class="modal-content">
            <button class="close-icon" (click)="closeGroupDetails()">✕</button>
            <p-button *ngIf="isAdmin() && selectedGroup?.groupId !== undefined && selectedGroup?.groupId !== null"
                      label="Historique"
                      icon="pi pi-history"
                      class="p-button-text history-button"
                      pTooltip="Historique"
                      (click)="openHistory(selectedGroup.groupId)">
            </p-button>
            <div class="reservation-message">
                <i [ngClass]="getReservationIconClass()"></i>
                <h3>{{ getReservationMessage() }}</h3>
            </div>
            <div class="boss-list">
                <div *ngIf="selectedGroup.bosses && selectedGroup.bosses.length > 0; else noBosses">
                    <div class="boss-item" [class.selected]="boss === selectedBoss" *ngFor="let boss of selectedGroup.bosses" (click)="selectBoss(boss)">
                        <img *ngIf="boss.iconUrl" class="boss-icon" [src]="boss.iconUrl" alt="{{ boss.name }}" />
                        <span class="boss-name">{{ boss.name }}</span>
                    </div>
                </div>
                <ng-template #noBosses>
                    <p>Aucun boss disponible.</p>
                </ng-template>
            </div>

            <div class="loot-list" *ngIf="selectedBoss">
                <table class="loot-table">
                    <thead>
                    <tr>
                        <th>Loot</th>
                        <th>Slot</th>
                        <th>Reserved By</th>
                        <th>Drop</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let loot of selectedBoss.loots">
                        <td>
                            <img *ngIf="loot.iconUrl" class="item-icon" [src]="loot.iconUrl" alt="{{ loot.itemName }}" />
                            <a class="loot-name" href="https://www.wowhead.com/item={{ loot.itemId }}" target="_blank">{{ loot.itemName }}</a>
                        </td>
                        <td class="loot-slot">{{ loot.slot }}</td>
                        <td *ngIf="isAdmin(); else nonAdminReserved">
                            <p-multiSelect
                                    [options]="userOptions"
                                    [(ngModel)]="loot.softReservedBy"
                                    (onChange)="updateReservedBy(selectedGroup.groupId, selectedBoss.name, loot.id, loot.softReservedBy)"
                                    optionLabel="label"
                                    optionValue="value"
                                    display="chip"
                                    placeholder="Sélectionner des utilisateurs"
                                    appendTo="body"
                                    [style]="{'width': '100%'}"
                                    [panelStyle]="{'min-width': '300px'}"
                                    [showClear]="true">
                            </p-multiSelect>
                        </td>
                        <ng-template #nonAdminReserved>
                            <td>
                                <ng-container *ngFor="let player of loot.softReservedBy; let isLast = last">
                                    <span  pTooltip="{{ getUserClass(player) }}" tooltipPosition="top" class="player-tag" [ngClass]="{'current-user': player === username}">
                                        {{ player }}{{ isLast ? '' : ', ' }}
                                    </span>
                                </ng-container>
                                <span *ngIf="!loot.softReservedBy || loot.softReservedBy.length === 0"></span>
                            </td>
                        </ng-template>
                        <td>
                            <ng-container *ngIf="isAdmin(); else dropText">
                                <p-multiSelect
                                        [options]="userOptions"
                                        [(ngModel)]="loot.droppedTo"
                                        (onChange)="updateDrop(selectedGroup.groupId, selectedBoss.name, loot.itemId, $event.value)"
                                        optionLabel="label"
                                        optionValue="value"
                                        display="chip"
                                        placeholder="Sélectionner des utilisateurs"
                                        appendTo="body"
                                        [style]="{'width': '100%'}"
                                        [panelStyle]="{'min-width': '300px'}"
                                        [showClear]="true">
                                </p-multiSelect>
                            </ng-container>
                            <ng-template #dropText>
                                <ng-container *ngIf="Array.isArray(loot.droppedTo) && loot.droppedTo.length">
                                    <span class="player-tag"> {{ loot.droppedTo.join(', ') }}</span>
                                </ng-container>
                                <ng-container *ngIf="!Array.isArray(loot.droppedTo) || !loot.droppedTo.length">
                                    <span class="player-tag"> {{ loot.droppedTo || '' }} </span>
                                </ng-container>
                            </ng-template>
                        </td>
                        <td>
                            <button *ngIf="!loot.softReservedBy.includes(getCurrentUser())"
                                    pButton
                                    type="button"
                                    label="Reserve"
                                    class="p-button-raised p-button-rounded p-button-sm"
                                    (click)="reserveLoot(selectedGroup.groupId, selectedBoss.name, loot.itemId)"
                                    [disabled]="isLocked(selectedGroup.groupId) || !selectedGroup"
                                    [pTooltip]="isLocked(selectedGroup.groupId) ? 'Réservations verrouillées depuis le ' + (getLockDate(selectedGroup.groupId) || '') + ' à 18h' : 'Réservations verrouillées après le ' + (getLockDate(selectedGroup.groupId) || '') + ' à 18h'"
                                    tooltipPosition="top">
                            </button>
                            <button *ngIf="loot.softReservedBy.includes(getCurrentUser())"
                                    pButton
                                    type="button"
                                    label="Annuler"
                                    class="p-button-raised p-button-rounded p-button-sm"
                                    (click)="cancelReservation(selectedGroup.groupId, selectedBoss.name, loot.itemId)"
                                    [disabled]="isLocked(selectedGroup.groupId) || !selectedGroup"
                                    [pTooltip]="isLocked(selectedGroup.groupId) ? 'Réservations verrouillées depuis le ' + (getLockDate(selectedGroup.groupId) || '') + ' à 18h' : 'Réservations verrouillées après le ' + (getLockDate(selectedGroup.groupId) || '') + ' à 18h'"
                                    tooltipPosition="top">
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <p-dialog header="Historique des réservations" [(visible)]="historyDialogVisible" [modal]="true" [style]="{'max-height': '500px', 'width': '50vw'}" closable="true" [dismissableMask]="true">
        <table class="history-table">
            <tbody>
            <tr *ngFor="let entry of selectedHistory">
                <td>
                    {{ entry.timestamp | date:'dd MMMM yyyy à HH:mm' }}
                    {{ entry.username }}
                    {{ entry.action === 'add' ? 'a réservé l\'item' : 'n\'a plus réservé l\'item' }}
                    {{ getItemName(entry.bossName, entry.itemId) }}
                    sur le boss {{ entry.bossName }}
                </td>
            </tr>
            <tr *ngIf="selectedHistory.length === 0">
                <td>Aucun historique disponible.</td>
            </tr>
            </tbody>
        </table>
    </p-dialog>
</div>

<ng-template #notLoggedIn>
    <app-login-modal [visible]="showLoginModal" (visibleChange)="onLoginModalClose()"></app-login-modal>
</ng-template>