<p-dialog
        header="Connexion"
        [(visible)]="visible"
        (visibleChange)="visibleChange.emit($event)"
        [modal]="true"
        [closable]="false"
        [style]="{'width': '20vw'}"
>
    <div class="p-field">
        <label for="username">Nom du personnage</label>
        <input
                pInputText
                id="username"
                [(ngModel)]="username"
                placeholder="Entrez votre nom d'utilisateur"
                [ngClass]="{'error-border': errorMessage === 'invalidUsername'}"
        />
        <small *ngIf="errorMessage === 'invalidUsername'" class="p-error">Nom d'utilisateur incorrect</small>
    </div>
    <div class="p-field">
        <label for="password">Mot de passe</label>
        <input
                pInputText
                id="password"
                type="password"
                [(ngModel)]="password"
                placeholder="Entrez votre mot de passe"
                [ngClass]="{'error-border': errorMessage === 'invalidPassword'}"
        />
        <small *ngIf="errorMessage === 'invalidPassword'" class="p-error">Mot de passe incorrect</small>
    </div>
    <div class="p-field p-text-center">
        <p-progressSpinner *ngIf="loading" styleClass="custom-spinner"></p-progressSpinner>
        <p-button
                label="Se connecter"
                (onClick)="login()"
                [disabled]="loading || !username || !password"
                [style]="{'width': '100%'}"
        ></p-button>
    </div>
</p-dialog>
<p-toast></p-toast>