.p-dialog {
  background-color: #0d0d0d;
  color: white;
  border: 1px solid #333;
  border-radius: 10px;
}

.p-field {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #bbb;
}

input {
  width: 100%;
  padding: 0.5rem;
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 5px;
}

.p-button {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 5px;
}

.p-button:hover {
  background-color: #282828;
}